<!-- wp:table --><figure class="wp-block-table"><p style="text-align: center;"><em><strong>Welcome to My Official homepage </strong></em></p><table><tbody><tr><td><h1 style="text-align: center;">Jai Ramanathan</h1></td></tr></tbody></table></figure><!-- /wp:table -->

<!-- wp:paragraph --><h2><em><strong>My personal Blogs and Pages</strong></em></h2><!-- /wp:paragraph -->

<!-- wp:table --><figure class="wp-block-table"><table><tbody><tr><td><a href="https://jairlmath.wordpress.com/">My Blog </a></td></tr><tr><td><a href="http://jaiacademicpeniseve.wordpress.com/">Academic Peniseve</a></td></tr><tr><td><a href="https://jairlmath.github.io/">Github Page</a></td></tr><tr><td><a href="https://github.com/jairlmath">Github Code</a></td></tr><tr><td><a href="http://jairlmath.gitlab.io">GitLab Page</a></td></tr><tr><td><a href="https://gitlab.com/jairlmath">Gitlab Code</a></td></tr><tr><td><a href="http://bluewworks.wordpress.com/">BlueWorks</a></td></tr><tr><td><a href="http://jai.rf.gd/p">Passwords</a></td></tr></tbody></table></figure><!-- /wp:table -->

<!-- wp:paragraph --><h2>Social media</h2><!-- /wp:paragraph -->

<!-- wp:table --><figure class="wp-block-table"><table><tbody><tr><td><a href="https://twitter.com/jairlmath">Twitter</a></td></tr><tr><td><a href="https://www.linkedin.com/in/jai-ramanathan-a28984190/">Linkedin</a></td></tr><tr><td><a href="https://www.reddit.com/user/jairlmath">Reddit</a></td></tr><tr><td><a href="https://bluewworks.tumblr.com/">Tumblr</a></td></tr><tr><td> </td></tr><tr><td> </td></tr></tbody></table></figure><!-- /wp:table -->

<!-- wp:paragraph --><h2>Scientific Profiles</h2><!-- /wp:paragraph -->

<!-- wp:table --><figure class="wp-block-table"><table><tbody><tr><td><a href="https://www.researchgate.net/profile/Jai_Ramanathan2">ResearchGate</a></td></tr><tr><td><a href="https://independent.academia.edu/jairamanathan">Academia.edu</a></td></tr><tr><td><strong><a href="https://www.kaggle.com/jairlmath">Kaggle</a></strong></td></tr><tr><td> </td></tr><tr><td> </td></tr></tbody></table></figure><!-- /wp:table -->

<!-- wp:paragraph --><h2>Photos</h2><!-- /wp:paragraph -->

<!-- wp:table --><figure class="wp-block-table"><table><tbody><tr><td><strong><a href="https://www.behance.net/jairamanathan1">Behance</a></strong></td></tr><tr><td><strong><a href="https://imgur.com/user/jairlmath/posts">Imgur</a></strong></td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr></tbody></table></figure><!-- /wp:table -->

<!-- wp:paragraph --><h2>Chats</h2><!-- /wp:paragraph -->

<!-- wp:table --><figure class="wp-block-table"><table><tbody><tr><td><strong><a href="http://t.me/jair2018">Telegram</a>,<a href="http://t.me/datawworks">Telegram</a></strong></td></tr><tr><td>Slack Channel</td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr></tbody></table></figure><!-- /wp:table -->

<!-- wp:paragraph --><h2>Questions and Answers</h2><!-- /wp:paragraph -->

<!-- wp:table --><figure class="wp-block-table"><table><tbody><tr><td>Quora</td></tr><tr><td>Stackexchange</td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr></tbody></table></figure><!-- /wp:table -->

<!-- wp:paragraph --><h2>Videos and Streaming</h2><!-- /wp:paragraph -->

<!-- wp:table --><figure class="wp-block-table"><table><tbody><tr><td><strong><a href="https://www.youtube.com/channel/UC9F5UR3bWgNc3ZUusdnVGrA?view_as=subscriber">Youtube</a></strong></td></tr><tr><td> </td></tr></tbody></table></figure><!-- /wp:table -->

<!-- wp:paragraph --><h2>Work History(Complete SiteMap)</h2><!-- /wp:paragraph -->

<!-- wp:table --><figure class="wp-block-table"><table><tbody><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr><tr><td> </td></tr></tbody></table></figure><!-- /wp:table -->